<div class="il-item">
  <input type="hidden" class="friendemail" name="friends[{{ friend.id }}][email]" value="{{friend.friendid.email}}" />
  <input type="hidden"  name="friends[{{ friend.id }}][spot]" value="" />
  <input type="hidden" class="friendinvationtype" name="friends[{{ friend.id }}][invationtype]" value="" />
  
  <img src="https://graph.facebook.com/{{ friend.friendid.fbid }}/picture">
  <div class="il-name">{{ friend.friendid.name }}</div>

  <div class="il-spot">
      <input type="checkbox" name="friends[{{ friend.id }}][spot]" value="Y" class="il-friend friendspot" />
  </div>
  <div class="il-fb">    
      <div class="btn-group il-friend" data-toggle="buttons-radio">
          <button type="button" class="btn b-fb"><span class="icon-fb"></span></button>
          <button type="button" class="btn b-email"><span class="icon-email"></span></button>
      </div>
  </div>
</div>
